.card {
    width: 17%;
    margin-top: 20px;
    margin-right: 8px;
    display: flex;
    flex-direction: column;
    background-color: rgba(146, 144, 144, 0.45);
    border-radius: 5px;

}

.card:hover {
    background-color: gray;
}

.card a {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
}

.card p {
    color: white;
    font-weight: bold;
}

.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
