.App {
  text-align: center;
  background-image: var(--app-bg);
  /*background-color: #3a455c;*/
  background-size: contain;
  background-position: bottom right;
}
::-webkit-scrollbar {
  display: none;
}

