body {
  margin: 0;

}

html[data-theme='dark']{
  --header-bg-color:  #09041b;
  --header-shadow: 0px 1px 5px #371028;
  --link-color: #ffffff;
  --link-color-hover: #FFA500FF;

  --app-bg: url(images/dark.jpg);

  --card-movie-bg:rgba(146, 144, 144, 0.45);
  --card-movie-bg-hover:0px 1px 5px #ffffff;

  --text-info:white;
}

html[data-theme='light']{
  --header-shadow: 0px 1px 5px #000000;
  --header-bg-color-img:  url('images/img_1.png');
  --opacity:0.7;
  --link-color: white;
  --link-color-hover: #FFA500FF;
  --button-header: black;
  --app-bg: #1f1b1b;

  --card-movie-bg: rgba(160, 207, 255, 0.95);
  --card-movie-bg-hover: 0px 1px 5px #371028;

  --text-info: black;

  --chip-border:orange;
}